name: Manual Build

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    strategy:
      matrix:
        dotnet-runtime:
          - target: win-x64
            mac-bundle: ${{ false }}
            runs-on: ubuntu-latest
          - target: osx-arm64
            mac-bundle: ${{ true }}
            runs-on: ubuntu-latest
    runs-on: ${{ matrix.dotnet-runtime.runs-on }}
    env:
      dotnetActionVersion: '10.0.x'
      dotnetBuildVersion: 'net10.0'
      binariesName: Woohoo.Noise.Player-${{ matrix.dotnet-runtime.target }}
      bundleName: Woohoo.Noise.Player.app
      bundleIconName: Woohoo.Noise.Player.icns
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.dotnetActionVersion }}

    - name: Build / Publish
      working-directory: src
      run: dotnet publish Woohoo.Noise.Player/Woohoo.Noise.Player.csproj -f ${{ env.dotnetBuildVersion }} -r ${{ matrix.dotnet-runtime.target }} -c Release --self-contained -p:DebugType=None -p:DebugSymbols=False

    - name: Zip binaries
      working-directory: src/Woohoo.Noise.Player/bin/Release/${{ env.dotnetBuildVersion }}/${{ matrix.dotnet-runtime.target }}/publish
      run: zip -r ${{ github.workspace }}/src/Woohoo.Noise.Player/bin/Release/${{ env.dotnetBuildVersion }}/${{ env.binariesName }}.zip *

    - name: Upload binaries artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.dotnet-runtime.target }}
        path: src/Woohoo.Noise.Player/bin/Release/${{ env.dotnetBuildVersion }}/${{ env.binariesName }}.zip
        
    - name: Build MacOS bundle
      if: ${{ matrix.dotnet-runtime.mac-bundle }}
      run: |
        mkdir bundle
        mkdir bundle/${{ matrix.dotnet-runtime.target }}
        mkdir bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}
        mkdir bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}/Contents
        mkdir bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}/Contents/MacOS
        mkdir bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}/Contents/Resources
        cp src/Woohoo.Noise.Player/MacOS/Info.plist bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}/Contents/Info.plist
        cp src/Woohoo.Noise.Player/MacOS/${{ env.bundleIconName }} bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}/Contents/Resources/${{ env.bundleIconName }}
        cp -a src/Woohoo.Noise.Player/bin/Release/${{ env.dotnetBuildVersion }}/${{ matrix.dotnet-runtime.target }}/publish/. bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}/Contents/MacOS

    - name: Display MacOS bundle folder contents
      if: ${{ matrix.dotnet-runtime.mac-bundle }}
      run: ls -R bundle/${{ matrix.dotnet-runtime.target }}

    - name: Zip MacOS bundle
      if: ${{ matrix.dotnet-runtime.mac-bundle }}
      working-directory: ${{ github.workspace }}/bundle/${{ matrix.dotnet-runtime.target }}
      run: zip -r ${{ github.workspace }}/bundle/${{ env.binariesName }}-bundle.zip *

    - name: Upload MacOS bundle artifact
      uses: actions/upload-artifact@v4
      if: ${{ matrix.dotnet-runtime.mac-bundle }}
      with:
        name: ${{ matrix.dotnet-runtime.target }}-bundle
        path: bundle/${{ env.binariesName }}-bundle.zip

#    - name: Build MacOS dmg      
#      uses: L-Super/create-dmg-actions@v1.0.3
#      if: ${{ matrix.dotnet-runtime.mac-bundle }}
#      with:
#        dmg_name: ${{ env.binariesName }}
#        src_dir: bundle/${{ matrix.dotnet-runtime.target }}/${{ env.bundleName }}     
#
#    - name: Upload MacOS dmg artifact
#      uses: actions/upload-artifact@v4
#      if: ${{ matrix.dotnet-runtime.mac-bundle }}
#      with:
#        name: ${{ matrix.dotnet-runtime.target }}-dmg
#        path: ${{ env.binariesName }}.dmg
